<h1>Inventory</h1>

<p>Add items to stock:
    <form action="/inventory" method="post">
   <!--  <label>Artist:
      <select name="artist.id">
        <% for artist in @artists %>
        <option value="<%= artist.id %>"><%= artist.name %></option> 
        <% end %>
      </select>
    </label> -->

    <label>Album:
      <select name="album.id">
        <% for album in @albums %>
        <option value="<%= album.id %>"><%= album.title %></option> 
        <% end %>
      </select>
    </label>

    <label>
      Quantity:
      <input type="number" name="quantity" value="<%= album.quantity %>"/>
    </label>

    <input type="submit" value="Add items"/>

    </form>
</p>

<table>
    <tr>
        <th>Artist Name</th>
        <th>Album Name</th>
        <th>Genre</th>
        <th>Quantity</th>
        <th id="options">Options</th>
    </tr>
        
    <% for album in @albums %>
        <tr>
            <td><%= album.get_name %></td>
            <td><%= album.title %></td>
            <td><%= album.genre %></td>
            <td id=<%= album.check_quantity %>>
            <%= album.quantity %></td>
            <td><a href="/album/:id/edit">Edit</a>|<a href="/album/:id/delete">Delete</a></td>
        </tr>
    <% end %>
</table>


