<h1>Inventory</h1>

<p>Add items to stock:
    <form action="/album/:id" method="post">

    <label>Album:
      <select name="album.id">
        <% for album in @albums %>
        <option value="<%= album.id %>"><%= album.title %></option> 
        <% end %>
      </select>
    </label>

    <label>
      Quantity to add:
      <input type="number" name="quantity" value="<%= album.quantity %>"/>
    </label>

    <input type="submit" value="Add items"/>   

    </form>
</p>

<table>
    <tr>
        <th><a href="/inventory/sort/artist">Artist Name</a></th>
        <th>Album Name</th>
        <th><a href="/inventory/sort/genre">Genre</th>
        <th>Quantity</th>
        <th id="options">Options</th>
    </tr>

 <!--    <tr>
        <td><a href="">Sort</a></td>
        <td><a href="">Sort</a></td>
        <td><a href="">Sort</a></td>
        <td><a href="">Sort</a></td>
    </tr>    --> 
        
    <% for album in @albums %>
        <tr>
            <td><%= album.get_name %></td>
            <td><%= album.title %></td>
            <td><%= album.genre %></td>
            <td id=<%= album.check_quantity %>>
            <%= album.quantity %></td>
            <td><a href="/albums/<%= album.id %>">Show</a>|<a href="/albums/<%= album.id %>/edit">Edit</a>|<a href="/albums/<%= album.id %>/delete">Delete</a></td>
        </tr>
    <% end %>
</table>


