<h1>Inventory</h1>

<h3>Add items to stock:</h3>
  <form action="/inventory/new_stock" method="post">

  <p>
    <label>
      Album:
        <select name="id">
          <% for album in @albums %>
            <option value="<%= album.id %>"><%= album.title %></option> 
          <% end %>
        </select>
    </label>

    <label>
      Quantity to add:
        <input type="number" name="quantity" />
    </label>

    <input type="submit" value="Add items"/>   
  </form>
  </p>

<h3>Remove items from stock:</h3>
  <form action="/inventory/remove_stock" method="post">

  <p>
    <label>Album:
      <select name="id">
        <% for album in @albums %>
        <option value="<%= album.id %>"><%= album.title %></option> 
        <% end %>
      </select>
    </label>

    <label>
      Quantity to remove:
      <input type="number" name="quantity" />
    </label>

    <input type="submit" value="Remove items"/>   
  </form>
  </p>


<table>
  <tr>
    <th>Artist Name</a></th>
    <th>Album Name</th>
    <th>Genre</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Options</th>
  </tr>

  <% for album in @albums %>
    <tr>
      <td><%= album.get_name %></td>
      <td><%= album.title %></td>
      <td><%= album.genre %></td>
      <td id=<%= album.check_quantity %>><%= album.quantity %></td>
      <td>£<%= album.markup %></td>
      <td><a href="/albums/<%= album.id %>">Show</a>|<a href="/albums/<%= album.id %>/edit">Edit</a>|<a href="/albums/<%= album.id %>/delete">Delete</a></td>
    </tr>
  <% end %>
</table>


