<h1>Edit Album</h1>

<form action="/albums/<%= @album.id %>" method="post">
  <p>
    <label>
      Album title:
      <input type="text" name="title" value="<%= @album.title %>"/>
    </label>
  </p>

  <p>
    <label>Artist:
      <select name="artist_id">
        <% for artist in @artists %>
        <option value="<%= artist.id %>"><%= artist.name %></option> 
        <% end %>
      </select>
    </label>
  </p>

  <p>
    <label>
      Album genre:
      <input type="text" name="genre" value="<%= @album.genre %>"/>
    </label>
  </p>

  <p>
    <label>
      Quantity:
      <input type="number" name="quantity" value="<%= @album.quantity %>"/>
    </label>
  </p>

  <input type="submit" value="Edit Artist"/>

</form>